@{
    ViewData["Title"] = "Elden Ring";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <main>
        <section>
            <nav>
                <a asp-controller="Home" asp-action="Calculator">Need help on your journey? Click here for tutoring</a>
            </nav>
            <br />
            <br />

			<img style="height: 300px" src="~/img/eldenringtitle.jpg" />
            <br />
            <br />
            <p>Elden Ring is a large open-world souls game with seemingly endless possibilities. Whether you want to collect
                the biggest sword possible, cast amazing spells, or just ride around a beautiful landscape on your noble steed, 
                The Lands Between is the place for you.
            </p>
            <br />
			<img src="~/img/eldenringgameplay.jpg" />
            <br />
            <p>It doesn't matter if you are a beginner or an experienced player, there are always more quests to fulfill 
                and bosses to defeat. The journey doesn't stop until all evil has been vanquished and you take up the mantle 
                of Elden Lord.</p>
            <br />
            <p>
                Dive into the Lands Between and embark on your journey to uncover the secrets of the Elden Ring. Players take 
                on the role of the Tarnished, a character with a mysterious past, who must navigate a land filled with fantastical 
                creatures, perilous landscapes, and formidable bosses. The game features a rich, dark fantasy narrative combined with 
                intricate lore, challenging combat, and an immersive world, creating a compelling and engaging experience that has 
                captivated players worldwide.
            </p>
            
            <br />
            <br />
            
        </section>
    </main>

</body>
</html>
